@page
@model IndexModel
@{    
    ViewData["Title"] = "App Service HTML";
}

<div id="api"></div>
<img data-tenant-branding-background="true" />
<img data-tenant-branding-logo="true" alt="Company Logo" />